/* 在全局样式文件中 */
:root {
    --table-border: solid #E1E1E1;
    --table-header-color: #F9FAFB;
    --table-header-active-color: #EAEBEC;
    --table-header-font-color: #1E1E1F;
    --table-header-font-size: 14px;
    --table-header-border: solid #C1C1C1;
    /* 自定义颜色变量 */
    --table-scroll-background: #fff;
}

.middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
}